node_modules
dist
data
uploads
backup
*.log
.DS_Store
Thumbs.db
.env
*.local
.vscode
.idea
.git
docs
*.pdf
*.xls*
client/err.log
client/client.err.log
client/client.log
server/server.err.log
server/log
